@*@model IList<MHA.Data.Domain.Category>*@
@model PagedList.IPagedList<MHA.Data.Domain.Category>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- Responsive table -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kategori Adı</th>
                                    <th>Üst Kategori</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span class="label label-success">@item.Id</span></td>
                                        <td>@item.CategoryName</td>
                                        <td>@foreach (var üstcategory in Model.Where(x=>x.Id==item.ParentId))
                                        {
                                            <span>@üstcategory.CategoryName</span>
                                        }</td>
                                        <td>
                                            @if (item.IsActived == true)
                                            {
                                                <b class="label label-success">Aktif </b>
                                            }
                                            else
                                            {
                                                <b class="label label-danger">Passive </b>
                                            }
                                        </td>
                                       
                                        <td>
                                            @*<button class="btn btn-default btn-sm">Düzenle</button>*@
                                            <a href="@Url.Action("Edit","Category",new {Id=item.Id })" class="btn btn-default btn-sm">Düzenle</a>
                                            @*@Html.ActionLink("Delete", "Delete", new {id=item.Id },new { onclick="return confirm('Are you sure to want to delete this row?')"})*@
                                            <button class="btn btn-default btn-sm" id="CategoryDelete" onclick="CategoryDelete()" data-id="@item.Id">Sil</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.PagedListPager(Model, Page=>Url.Action("Index",new { Page}),PagedListRenderOptions.Classic)
        </div>
        <!-- /Responsive table -->
    </div>

</div>
